<template>
  <div id="Home" class="Home landing">
    <v-toolbar fixed flat style="background: rgba(0,0,0,0.2)">
      <v-toolbar-title class="text-xs-center brand-logo">
        <span
          class="accented-text blue--text text--lighten-1"
          v-t="'product.title'"
        >
        </span>
      </v-toolbar-title>
      <v-spacer />
      <v-toolbar-items>
        <v-btn
          :to="'/' + $i18n.locale + '/recruiter/interview'"
          class="white--text"
          flat
          v-t="'goToDemo'"
          v-if="loggedIn"
        ></v-btn>
        <v-btn
          :to="'/' + $i18n.locale + '/auth/sign-in'"
          class="white--text"
          flat
          v-t="'signIn'"
          v-if="!loggedIn"
        ></v-btn>
        <v-btn
          :to="'/' + $i18n.locale + '/auth/sign-up'"
          class="white--text"
          flat
          v-t="'signUp'"
          v-if="!loggedIn"
        ></v-btn>
      </v-toolbar-items>
    </v-toolbar>
    <v-content class="grey lighten-5">
      <v-parallax :src="require('@/assets/fixed-imgs/agreement2.jpg')">
        <v-container grid-list-md>
          <v-layout align-center column justify-center class="product-wrapper">
            <h3 class="product-title" v-t="'product.title'"></h3>
            <p
              class="product-description text-xs-center"
              v-t="'product.content'"
            ></p>
            <v-btn
              :to="'/' + $i18n.locale + '/recruiter/interview'"
              class="white--text accented-text"
              flat
              outline
              v-t="'goToDemo'"
            ></v-btn>
          </v-layout>
        </v-container>
      </v-parallax>
      <v-container grid-list-md>
        <v-layout row wrap>
          <v-flex xs12>
            <h3 class="hero-text-header" v-t="'steps.title'"></h3>
          </v-flex>
          <v-flex xs12 sm6 md3 class="hero-content">
            <v-img
              class="elevation-1"
              aspect-ratio="1.5"
              :src="require('@/assets/imgs/step-1.jpg')"
              alt=""
            />
            <span class="hero-text-sub"> <span v-t="'step'"></span> 1. </span>
            <p class="hero-text-description" v-t="'steps.contents.0'"></p>
          </v-flex>
          <v-flex xs12 sm6 md3 class="hero-content">
            <v-img
              class="elevation-1"
              aspect-ratio="1.5"
              :src="require('@/assets/imgs/step-2.jpg')"
              alt=""
            />
            <span class="hero-text-sub"> <span v-t="'step'"></span> 2. </span>
            <p class="hero-text-description" v-t="'steps.contents.1'"></p>
          </v-flex>
          <v-flex xs12 sm6 md3 class="hero-content">
            <v-img
              class="elevation-1"
              aspect-ratio="1.5"
              :src="require('@/assets/imgs/step-3.jpg')"
              alt=""
            />
            <span class="hero-text-sub"> <span v-t="'step'"></span> 3. </span>
            <p class="hero-text-description" v-t="'steps.contents.2'"></p>
          </v-flex>
          <v-flex xs12 sm6 md3 class="hero-content">
            <v-img
              class="elevation-1"
              aspect-ratio="1.5"
              :src="require('@/assets/imgs/step-4.jpg')"
              alt=""
            />
            <span class="hero-text-sub"> <span v-t="'step'"></span> 4. </span>
            <p class="hero-text-description" v-t="'steps.contents.3'"></p>
          </v-flex>
        </v-layout>
      </v-container>
      <v-container grid-list-md>
        <v-layout row wrap>
          <v-flex xs12>
            <h3 class="hero-text-header" v-t="'features.title'"></h3>
          </v-flex>
          <v-flex xs12 sm6 md4 class="hero-content have-icon">
            <v-icon class="hero-icon blue--text" large>videocam</v-icon>
            <span class="hero-text-sub" v-t="'features.contents.0.title'">
            </span>
            <p
              class="hero-text-description"
              v-t="'features.contents.0.content'"
            ></p>
          </v-flex>
          <v-flex xs12 sm6 md4 class="hero-content have-icon">
            <v-icon class="hero-icon blue--text" large>show_chart</v-icon>
            <span class="hero-text-sub" v-t="'features.contents.1.title'">
            </span>
            <p
              class="hero-text-description"
              v-t="'features.contents.1.content'"
            ></p>
          </v-flex>
          <v-flex xs12 sm6 md4 class="hero-content have-icon">
            <v-icon class="hero-icon blue--text" large>list</v-icon>
            <span class="hero-text-sub" v-t="'features.contents.2.title'">
            </span>
            <p
              class="hero-text-description"
              v-t="'features.contents.2.content'"
            ></p>
          </v-flex>
          <v-flex xs12 sm6 md4 class="hero-content have-icon">
            <v-icon class="hero-icon blue--text" large>hearing</v-icon>
            <span class="hero-text-sub" v-t="'features.contents.3.title'">
            </span>
            <p
              class="hero-text-description"
              v-t="'features.contents.3.content'"
            ></p>
          </v-flex>
          <v-flex xs12 sm6 md4 class="hero-content have-icon">
            <v-icon class="hero-icon blue--text" large>accessibility</v-icon>
            <span class="hero-text-sub" v-t="'features.contents.4.title'">
            </span>
            <p
              class="hero-text-description"
              v-t="'features.contents.4.content'"
            ></p>
          </v-flex>
          <v-flex xs12 sm6 md4 class="hero-content have-icon">
            <v-icon class="hero-icon blue--text" large>code</v-icon>
            <span class="hero-text-sub" v-t="'features.contents.5.title'">
            </span>
            <p
              class="hero-text-description"
              v-t="'features.contents.5.content'"
            ></p>
          </v-flex>
        </v-layout>
      </v-container>
      <v-container grid-list-md>
        <v-layout row wrap>
          <v-flex xs12>
            <h3 class="hero-text-header" v-t="'benefits.title'">Benefits</h3>
          </v-flex>
          <v-flex xs12 class="hero-content have-icon">
            <v-icon class="hero-icon blue--text" large>attach_money</v-icon>
            <span class="hero-text-sub" v-t="'benefits.contents.0.title'">
            </span>
            <p
              class="hero-text-description"
              v-t="'benefits.contents.0.content'"
            ></p>
          </v-flex>
          <v-flex xs12 class="hero-content have-icon">
            <v-icon class="hero-icon blue--text" large>thumb_up_alt</v-icon>
            <span class="hero-text-sub" v-t="'benefits.contents.1.title'">
            </span>
            <p
              class="hero-text-description"
              v-t="'benefits.contents.1.content'"
            ></p>
          </v-flex>
          <v-flex xs12 class="hero-content have-icon">
            <v-icon class="hero-icon blue--text" large
              >sentiment_very_satisfied</v-icon
            >
            <span class="hero-text-sub" v-t="'benefits.contents.2.title'">
            </span>
            <p
              class="hero-text-description"
              v-t="'benefits.contents.2.content'"
            ></p>
          </v-flex>
        </v-layout>
      </v-container>
      <v-container grid-list-md>
        <v-layout row wrap>
          <v-flex xs12 class="text-xs-center">
            <h3 class="hero-text-header" v-t="'requestDemo.title'"></h3>
            <p class="hero-text-description" v-t="'requestDemo.content'"></p>
            <v-btn
              :to="'/' + $i18n.locale + '/recruiter/interview'"
              class="accented-text"
              flat
              outline
              v-t="'goToDemo'"
            ></v-btn>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
    <Footer></Footer>
  </div>
</template>

<script>
// @ is an alias to /src
import Footer from "@/components/ui/Footer";

export default {
  name: "Home",
  components: {
    Footer
  },
  computed: {
    loggedIn() {
      console.log(this.$store.state);
      return this.$store.state.user;
    }
  },
  methods: {},
  mounted() {}
};
</script>

<style scoped lang="scss">
p {
  font-size: 15px;
  color: #444;
}
.brand-logo {
  font-size: 36px !important;
  font-weight: bold !important;
  color: #2c3e50;
}
.brand-spacer {
  margin-left: -10px !important;
}
.brand-icon {
  margin-top: -3px;
}
.accented-text {
}
.product-wrapper {
  padding: 80px 0 40px;
}
.product-title {
  font-weight: bold !important;
  font-size: 56px;
  color: white;
}
.product-description {
  font-size: 18px;
  line-height: 25px;
  white-space: pre-line;
  color: white;
  margin-top: 8px;
  max-width: 680px;
  white-space: pre-line;
}
.hero-content {
  padding: 24px 8px 16px !important;
}
.hero-icon {
  float: left;
  margin-left: -60px;
}
.hero-image {
}
.have-icon {
  padding-left: 80px !important;
}
.hero-text-header {
  text-align: center;
  font-size: 29px;
  color: #263238;
  margin-bottom: 12px;
  font-weight: normal;
}
.hero-text-sub {
  font-size: 21px;
  color: #37474f;
  display: block;
  margin: 8px 0;
}
.hero-text-description {
  color: #455a64;
}
</style>
