<template>
  <columnChart
    v-if="session"
    :data="chartData"
    :options="options"
  ></columnChart>
</template>
<script>
import { columnChart } from "@toast-ui/vue-chart";

export default {
  name: "RatingDistributionChart",
  components: {
    columnChart
  },
  props: {
    session: {
      type: Object
    }
  },
  computed: {
    chartData() {
      const categories = this.session.answers.map(
        (session, i) => `Q ${i + 1}.`
      );
      const series = this.session.evaluations.map(evaluation => {
        const data = this.session.answers.map(answer => {
          const found = evaluation.answer.find(
            eAnswer => eAnswer.id === answer.id
          );
          return found ? found.rating : 0;
        });

        return {
          name: evaluation.username,
          data: data
        };
      });

      return {
        // for 'data' prop of 'bar-chart'
        categories: categories,
        series: series
      };
    }
  },
  data() {
    return {
      chart: {
        width: "1440"
      },
      yAxis: {
        title: "Rating",
        min: 0.5,
        max: 5,
        step: 0.5
      },
      xAxis: {
        title: "Questions"
      }
    };
  }
};
</script>
<style></style>
