<template>
  <v-container class="justify-center align-center">
    <v-card
      v-if="answer && completed === false"
      class="elevation-6 question-wrapper"
    >
      <v-card-text class="pa-5">
        <h1 class="mb-4 font-weight-medium">Write Your Answer!</h1>
        <v-layout flex wrap>
          <v-flex xs5>
            <div class="question">{{ answer.question }}</div>
          </v-flex>
          <v-flex xs7>
            <div class="answer">
              <CodeEditor v-model="contents" v-if="true"></CodeEditor>
              <v-textarea
                label="Answer"
                placeholder="Please record the video before answering."
                rows="14"
                v-model="contents"
                solo
                light
                auto-grow
                v-if="false"
              ></v-textarea>
              <div class="text-xs-right mt-3">
                <b class="d-block">{{
                  answer.timeLimit | secondsToFriendlyTime
                }}</b>
              </div>
            </div>
          </v-flex>
          <v-flex xs6> </v-flex>
          <v-flex xs6 class="text-xs-right">
            <v-btn color="blue lighten-1" dark large @click="submitAnswer"
              >Submit</v-btn
            >
          </v-flex>
        </v-layout>
      </v-card-text>
      <div v-if="!startedRecording" class="question-overlay">
        <v-btn color="primary" large @click="$refs.video.start()"
          >See the question and start recording</v-btn
        >
      </div>
    </v-card>

    <v-card
      v-if="completed"
      color="blue-grey lighten-1"
      class="white--text elevation-4"
      dark
    >
      <v-card-text class="pa-5">
        Thank you for interviewing with us!
      </v-card-text>
    </v-card>
    <v-dialog v-model="dialog" width="360">
      <v-card flat>
        <v-card-text>
          <p class="body-2">{{ dialogText }}</p>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn flat @click="dialog = false">
            Close
          </v-btn>
        </v-card-actions></v-card
      >
    </v-dialog>
    <v-card style="position: fixed; bottom: 0; right: 0;" dark v-if="answer">
      <Video :file-name="answer.name" ref="video"></Video>
    </v-card>
  </v-container>
</template>

<script>
import Video from "@/components/Video";
import CodeEditor from "@/components/CodeEditor";
export default {
  name: "CandidateAnswer",
  components: {
    CodeEditor,
    Video
  },
  computed: {
    answer() {
      return this.$store.state.answer;
    },
    answerNames() {
      return this.$route.query.answerNames;
    },
    answerName() {
      return this.$route.params.name;
    },
    answerIndex() {
      return this.answerNames.indexOf(this.answerName);
    },
    uploaded() {
      return this.$store.state.uploaded[this.answerName];
    },
    startedRecording() {
      const video = this.$refs.video;
      return video ? video.started : false;
    }
  },
  watch: {
    answerName(name) {
      this.$store.dispatch("getAnswer", name);
    }
  },
  data() {
    return {
      contents: "",
      completed: true,
      dialog: false,
      dialogText: null,
      video: null
    };
  },
  methods: {
    uploadVideo(blob) {
      this.$store.dispatch("uploadVideo", {
        fileName: `answers/${this.answerName}.webm`,
        file: blob
      });
    },
    submitAnswer() {
      if (!this.contents) {
        this.dialogText = "Please type your answer.";
        this.dialog = true;
      } else if (!this.uploaded) {
        this.dialogText = "Please upload the video";
        this.dialog = true;
      } else {
        this.$store
          .dispatch("submitAnswer", {
            name: this.answerName,
            contents: this.contents,
            file_name: this.fileName
          })
          .then(() => {
            this.contents = null;
            const nextAnswerName = this.answerNames[this.answerIndex + 1];
            if (nextAnswerName) {
              this.$router.push({
                path: `/${
                  this.$i18n.locale
                }/candidate/answer/${nextAnswerName}`,
                query: this.$route.query
              });
            } else {
              this.completed = true;
            }
          });
      }
    }
  },
  mounted() {
    this.$store.dispatch("getAnswer", this.answerName);
  }
};
</script>

<style scoped lang="scss">
.question-wrapper {
  position: relative;
}
.question-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 60px;
  z-index: 888;
  top: 0;
  background: rgba(255, 255, 255, 0.95);
}
.question {
  padding-left: 34px;
  margin-bottom: 34px;
  position: relative;
  white-space: pre;
}
.question:before {
  position: absolute;
  left: 0;
  top: -10px;
  content: "Q. ";
  font-size: 24px;
  font-style: italic;
  color: #1976d2;
}
.answer {
  padding-left: 34px;
  margin-bottom: 34px;
  position: relative;
}
.answer:before {
  position: absolute;
  left: 0;
  top: -10px;
  content: "A. ";
  font-size: 24px;
  font-style: italic;
  color: #1976d2;
}
</style>
