<template>
  <div id="CandidateSession">
    <v-progress-circular
      v-if="!session"
      :size="70"
      :width="7"
      indeterminate
      color="primary"
    ></v-progress-circular>

    <v-card
      v-else-if="completedSession"
      class="completed-card elevation-4"
      dark
    >
      <v-card-text class="text-xs-center pa-5">
        <p class="display-1">
          Thanks for having an interview with us.<br /><br />
          Your company will get to you shortly.
        </p>
      </v-card-text>
    </v-card>

    <v-card
      v-else-if="!currentAnswerName"
      class="invitation-card elevation-4"
      dark
    >
      <v-card-text class="text-xs-center pa-5">
        <h1 class="font-weight-regular">
          Hi, {{ session.candidate_first_name }}
          {{ session.candidate_last_name }}!
        </h1>
        <div class="mt-4">
          <span class="subheading">
            Position
          </span>
          <h3>
            {{ session.interview_position }}
          </h3>
        </div>
        <div class="mt-4">
          <span class="subheading">
            Duration
          </span>
          <h3>
            {{ totalDuration | secondsToFriendlyTime }}
          </h3>
        </div>
        <div class="mt-4">
          <span class="subheading">
            Number Of Questions
          </span>
          <h3>
            {{ answers.length }}
          </h3>
        </div>
        <div class="mt-4">
          <v-btn color="primary" @click="routeAnswer(answers[0].name)"
            >Start Interview!</v-btn
          >
        </div>
      </v-card-text>
    </v-card>

    <v-card v-else-if="currentAnswerName" class="survey-card elevation-4" dark>
      <v-toolbar>
        <v-toolbar-title>
          {{ session.interview_position }}
        </v-toolbar-title>
        <v-divider class="mx-3" inset vertical></v-divider>
        <span class="subheading">
          {{ totalDuration | secondsToFriendlyTime }}
        </span>
        <v-divider class="mx-3" inset vertical></v-divider>
        <span class="subheading">
          {{ session.candidate_last_name }} {{ session.candidate_first_name }}
        </span>
        <v-divider class="mx-3" inset vertical></v-divider>
        <v-spacer></v-spacer>

        <span class="subheading mr-3" v-if="timeOverSeconds">
          {{ timeOverSeconds | secondsToDigitalTime }} /
          {{ currentAnswer.time_limit | secondsToDigitalTime }}
        </span>

        <v-toolbar-items>
          <v-btn
            color="primary"
            depressed
            @click="nextAnswer()"
            :loading="loading"
            :disabled="!currentAnswer.started_at"
            >Next</v-btn
          >
        </v-toolbar-items>
      </v-toolbar>
      <v-card-text class="text-xs-center" v-if="currentAnswer.completed_at">
        You already submitted this question. Please resolve next question.
      </v-card-text>
      <v-layout
        row
        wrap
        v-else-if="currentAnswer.started_at"
        style="flex: 1 1 auto;"
      >
        <v-flex xs6>
          <div class="ma-4" style="overflow: auto">
            <Markdown :value="currentAnswer.question"></Markdown>
          </div>
        </v-flex>
        <div class="flex xs6 ide" v-if="currentAnswer.type === 'coding'">
          <!--          <v-toolbar dense>-->
          <!--            <v-toolbar-title class="font-weight-regular">-->
          <!--              Your Solution-->
          <!--            </v-toolbar-title>-->
          <!--            <v-spacer></v-spacer>-->
          <!--            &lt;!&ndash;<v-select :items="availableCodeLanguages" value="python" solo flat style="display: inline-block;"></v-select>&ndash;&gt;-->
          <!--            <v-toolbar-items>-->
          <!--              <v-tooltip top>-->
          <!--                <v-btn icon slot="activator">-->
          <!--                  <v-icon>play_arrow</v-icon>-->
          <!--                </v-btn>-->
          <!--                <span>Run</span>-->
          <!--              </v-tooltip>-->
          <!--            </v-toolbar-items>-->
          <!--          </v-toolbar>-->
          <CodeEditor
            v-model="answer"
            responsive
            :options="{
              mode: 'python'
            }"
            class="editor"
          >
          </CodeEditor>
          <!--          <Prism-->
          <!--            :value="console"-->
          <!--            style="height: 200px; border-radius: 0;"-->
          <!--          ></Prism>-->
        </div>
        <v-textarea
          class="flex xs6"
          label="Your Solution"
          outline
          row
          s="40"
          v-if="currentAnswer.type === 'short_essay'"
          v-model="answer"
        ></v-textarea>
        <Video v-if="currentAnswer.type === 'video'"></Video>
      </v-layout>
      <v-card-text class="text-xs-center" v-else>
        <p class="headline">
          The
          <span class="light-blue--text">{{ currentAnswerIndex + 1 }}</span> of
          {{ session.answers.length }} questions
        </p>
        <v-btn
          large
          round
          color="primary lighten--3"
          @click="startAnswer()"
          :loading="loading"
        >
          Start solving the question.
        </v-btn>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import Markdown from "@/components/Markdown";
import Prism from "@/components/Prism";
import CodeEditor from "@/components/CodeEditor";

export default {
  name: "CandidateSession",
  components: { CodeEditor, Markdown, Prism },
  computed: {
    session() {
      return this.$store.state.session;
    },
    answers() {
      return this.session.answers;
    },
    totalDuration() {
      return this.answers.reduce(
        (previous, next) => previous + next.time_limit,
        0
      );
    },
    currentAnswerName() {
      return this.$route.query.currentAnswerName;
    },
    currentAnswer() {
      return this.answers.find(
        answer => answer.name === this.currentAnswerName
      );
    },
    currentAnswerIndex() {
      return this.answers.findIndex(
        answer => answer.name === this.currentAnswerName
      );
    },
    completedSession() {
      return this.answers.every(answer => answer.completed_at);
    }
  },
  async created() {
    this.loading = true;
    await this.$store.dispatch("getOpenedSession", this.$route.params.name);
    if (
      this.currentAnswer &&
      this.currentAnswer.started_at &&
      !this.currentAnswer.completed_at
    )
      this.setTimer();
    this.loading = false;
  },
  methods: {
    routeAnswer(answerName) {
      this.$router.push({
        path: this.$route.path,
        query: {
          currentAnswerName: answerName
        }
      });
    },
    setTimer() {
      const { started_at } = this.currentAnswer;

      if (started_at) {
        this.timeOverSeconds =
          this.currentAnswer.time_limit -
          Math.floor((Date.now() - new Date(started_at).getTime()) / 1000);
      } else {
        this.timeOverSeconds = this.currentAnswer.time_limit;
      }

      this.timer = window.setInterval(() => {
        this.timeOverSeconds--;
        if (this.timeOverSeconds <= 0) {
          this.clearTimer();
          this.nextAnswer(true);
        }
      }, 1000);
    },
    clearTimer() {
      if (this.timer) window.clearInterval(this.timer);
      this.timer = null;
      this.timeOverSeconds = 0;
    },
    async startAnswer() {
      try {
        this.loading = true;
        await this.$store.dispatch("submitAnswer", {
          name: this.currentAnswer.name,
          started_at: Date.now()
        });
        this.setTimer();
      } catch (e) {
        console.error(e);
      } finally {
        this.loading = false;
      }
    },
    async nextAnswer(isTimeOver = false) {
      try {
        if (!this.currentAnswer.completed_at) {
          const confirmText = isTimeOver
            ? this.$t("timeOverAnswer")
            : this.$t("confirmSubmitAnswer");

          const confirmOption = {
            title: this.$t("submitAnswer")
          };
          if (isTimeOver) confirmOption.buttonFalseText = null;
          const confirm = await this.$confirm(confirmText, confirmOption);
          if (!isTimeOver && !confirm) return;
          if (!isTimeOver && confirm) this.clearTimer();
        }

        this.loading = true;

        if (!this.currentAnswer.completed_at) {
          await this.$store.dispatch("submitAnswer", {
            name: this.currentAnswer.name,
            type: this.currentAnswer.type,
            answer: this.answer,
            completed_at: Date.now()
          });
        }

        const nextAnswer = this.answers[this.currentAnswerIndex + 1];
        if (nextAnswer) this.routeAnswer(nextAnswer.name);
        this.answer = "";
      } catch (e) {
        console.error(e);
      } finally {
        this.loading = false;
      }
    }
  },
  data() {
    return {
      timer: null,
      timeOverSeconds: 0,
      loading: false,
      answer: "",
      console: "Hello This is Console",
      availableCodeLanguages: ["python", "c++", "java", "nodejs"]
    };
  }
};
</script>

<style scoped lang="scss">
#CandidateSession {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .survey-card {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    align-self: stretch;
  }
  .ide {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    .editor {
      flex: 1 1 auto;
      height: 100%;
      overflow: auto;
    }
  }
}
</style>
