<template>
  <div class="auth-layout">
    <div class="auth-layout__inner">
      <router-view></router-view>
      <div class="auth-layout__footer">
        <LanguageSwitcher></LanguageSwitcher>
      </div>
    </div>
  </div>
</template>

<script>
import LanguageSwitcher from "@/components/LanguageSwitcher";
export default {
  name: "AuthLayout",
  components: { LanguageSwitcher }
};
</script>

<style scoped lang="scss">
.auth-layout {
  background: white;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.auth-layout__inner {
  display: block;
  max-width: 720px;
}
.auth-layout__footer {
  margin-top: 24px;
}
</style>
