<template>
  <div>
    <v-navigation-drawer
      :clipped="$vuetify.breakpoint.lgAndUp"
      v-model="drawer"
      fixed
      app
    >
      <v-list dense>
        <template v-for="item in items">
          <v-layout v-if="item.heading" :key="item.heading" row align-center>
            <v-flex xs6>
              <v-subheader v-if="item.heading">
                {{ item.heading }}
              </v-subheader>
            </v-flex>
          </v-layout>
          <v-list-tile v-else :key="item.text" @click="route(item.link)">
            <v-list-tile-action>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>
                {{ $t(item.text) }}
              </v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </template>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar
      :clipped-left="$vuetify.breakpoint.lgAndUp"
      color="blue darken-3"
      dark
      app
      fixed
    >
      <v-toolbar-title style="width: 300px" class="ml-0 pl-3">
        <v-toolbar-side-icon
          @click.stop="drawer = !drawer"
        ></v-toolbar-side-icon>
        <v-btn
          class="pa-0 headline font-weight-regular"
          @click="route('')"
          flat
          large
        >
          <strong>AI</strong>&nbsp;INTERVIEW
        </v-btn>
      </v-toolbar-title>
      <v-spacer></v-spacer>

      <v-menu bottom left>
        <v-btn slot="activator" dark icon>
          <v-icon>apps</v-icon>
        </v-btn>

        <v-list>
          <v-list-tile @click="signOut()">
            <v-list-tile-content>
              <v-list-tile-title>
                {{ $t("signOut") }}
              </v-list-tile-title>
            </v-list-tile-content>
            <v-list-tile-action>
              <v-icon>lock_open</v-icon>
            </v-list-tile-action>
          </v-list-tile>
          <!--
          <v-list-tile @click="inviteUser()">
            <v-list-tile-content>
              <v-list-tile-title>
                {{ $t("inviteUser") }}
              </v-list-tile-title>
            </v-list-tile-content>
            <v-list-tile-action>
              <v-icon>person_add</v-icon>
            </v-list-tile-action>
          </v-list-tile>
          -->
        </v-list>
      </v-menu>
    </v-toolbar>
    <v-content>
      <router-view />
      <Footer></Footer>
    </v-content>
  </div>
</template>

<script>
import Footer from "../ui/Footer";
import environment from "@/environments";

export default {
  name: "RecruiterLayout",
  components: {
    Footer
  },
  data: () => ({
    drawer: null,
    items: [
      {
        icon: "description",
        text: "question",
        link: "recruiter/question"
      },
      { icon: "event", text: "interview", link: "recruiter/interview" },
      { icon: "people", text: "candidate", link: "recruiter/candidate" },
      { icon: "assignment_ind", text: "session", link: "recruiter/session" }
    ]
  }),
  methods: {
    route(link) {
      this.$router.push(`/${this.$i18n.locale}/${link}`);
    },
    signOut() {
      this.$store.dispatch("signOut").then(() => {
        this.route(`auth/sign-in`);
      });
    },
    async inviteUser(){
      try {
        const response = await this.$store.dispatch("inviteUser");
        console.log(response);
      } catch (e) {
        return handleError(e, dispatch);
      }
    }
  },
  props: {
    source: String
  },
  created() {
    if (environment.name === "environment.dev") {
      this.items.push({
        icon: "build",
        text: "Test",
        link: "recruiter/test"
      });
    }
  }
};
</script>

<style scoped lang="scss"></style>
