<template>
  <v-dialog v-model="value" persistent lazy @keydown.esc="close()" width="600">
    <v-card class="grey lighten-4">
      <v-toolbar card class="transparent">
        <v-toolbar-title>
          {{ $t(name ? "eidtCandidate" : "addCandidate") }}
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn icon @click="close()"><v-icon>close</v-icon></v-btn>
      </v-toolbar>
      <v-card-text>
        <v-form id="form" ref="form" @submit.prevent="submit()">
          <v-layout row wrap style="margin: -8px;">
            <v-flex xs4>
              <div class="form-block">
                <label for="country-code" class="subheading d-block mb-2">
                  {{ $t("country") }}
                </label>
                <v-autocomplete
                  v-model="form.value.country_code"
                  id="country-code"
                  :items="countryCodes"
                  item-text="name"
                  item-value="dial_code"
                  placeholder="China"
                  solo
                ></v-autocomplete>
              </div>
            </v-flex>
            <v-flex xs8>
              <div class="form-block">
                <label for="phone_number" class="subheading d-block mb-2">
                  {{ $t("phoneNumber") }}
                </label>
                <v-text-field
                  name="phone_number"
                  id="phone_number"
                  type="text"
                  v-model="form.value.phone_number"
                  :prefix="form.value.country_code"
                  placeholder="1011112222"
                  solo
                >
                </v-text-field>
              </div>
            </v-flex>
            <v-flex xs6>
              <div class="form-block">
                <label for="first_name" class="subheading d-block mb-2">
                  {{ $t("firstName") }}
                </label>
                <v-text-field
                  name="first_name"
                  id="first_name"
                  type="text"
                  v-model="form.value.first_name"
                  placeholder="David"
                  solo
                >
                </v-text-field>
              </div>
            </v-flex>
            <v-flex xs6>
              <div class="form-block">
                <label for="last_name" class="subheading d-block mb-2">
                  {{ $t("lastName") }}
                </label>
                <v-text-field
                  name="last_name"
                  id="last_name"
                  type="text"
                  v-model="form.value.last_name"
                  placeholder="Chu"
                  solo
                >
                </v-text-field>
              </div>
            </v-flex>
            <v-flex xs12>
              <div class="form-block">
                <label for="email" class="subheading d-block mb-2">
                  {{ $t("email") }}
                </label>
                <v-text-field
                  name="email"
                  id="email"
                  type="text"
                  v-model="form.value.email"
                  placeholder="chusan@ai-interview.com"
                  solo
                >
                </v-text-field>
              </div>
            </v-flex>
          </v-layout>
        </v-form>
        <Validator
          :value="form.value"
          :rules="form.rules"
          ref="validator"
        ></Validator>
      </v-card-text>
      <v-card-actions>
        <v-btn flat @click="clear()"> {{ $t("clear") }} </v-btn>
        <v-spacer></v-spacer>
        <v-btn flat @click="close()"> {{ $t("close") }} </v-btn>
        <v-btn flat color="primary" @click="submit()" :loading="loading">
          {{ $t("submit") }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import Validator from "@/components/Validator";
import { FormModalMixin } from "@/utils/mixins";
import countryCodes from "@/utils/dial-codes";

export default {
  name: "CandidateModal",
  mixins: [FormModalMixin],
  components: {
    Validator
  },
  props: {
    value: {
      type: Boolean,
      value: true
    }
  },
  computed: {
    countryCodes() {
      return countryCodes;
    }
  },
  methods: {
    initData() {
      return {
        loading: false,
        name: null,
        form: {
          value: {
            email: "",
            first_name: "",
            last_name: "",
            country_code: "",
            phone_number: ""
          },
          rules: {
            email: [v => !!v || "Email is required"],
            first_name: [v => !!v || "First Name is required"],
            last_name: [v => !!v || "Last Name is required"],
            country_code: [v => !!v || "Country is required"],
            phone_number: [v => !!v || "Phone Number is required"]
          }
        }
      };
    },
    async submit() {
      if (!this.$refs.validator.validate()) return;

      this.loading = true;

      try {
        const { country_code, phone_number, ...etc } = this.form.value;

        if (this.name) {
          await this.$store.dispatch("editCandidate", {
            phone_number: country_code + phone_number,
            name: this.name,
            ...etc
          });
        } else {
          await this.$store.dispatch("addCandidate", {
            phone_number: country_code + phone_number,
            ...etc
          });
        }

        this.loading = false;
        this.close();
      } catch (e) {
        this.loading = false;
      }
    },
    setValue({ phone_number, name, email_address, ...value }) {
      this.name = name;

      for (const key of Object.keys(this.form.value)) {
        if (value[key] === null || value[key] === undefined) continue;
        this.form.value[key] = value[key];
      }

      const currentDialCode = this.countryCodes.find(cc =>
        phone_number.startsWith(cc.dial_code)
      ).dial_code;

      this.form.value.country_code = currentDialCode;
      this.form.value.email = email_address;
      this.form.value.phone_number = phone_number.replace(currentDialCode, "");
    }
  },
  data() {
    return this.initData();
  }
};
</script>

<style scoped lang="scss">
.form-block {
  margin: 8px;
}
</style>
