<template>
  <v-dialog width="460" v-model="value" persistent lazy @keydown.esc="close()">
    <v-card>
      <v-toolbar card class="transparent">
        <v-toolbar-title>
          {{ $t(action) }}
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn icon @click="close()"><v-icon>close</v-icon></v-btn>
      </v-toolbar>
      <v-card-text>
        {{ $t("confirmDelete") }}
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn flat @click="close()"> {{ $t("no") }} </v-btn>
        <v-btn flat color="primary" :loading="loading" @click="onDelete()">
          {{ $t("yes") }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: "DeleteModal",
  props: {
    value: {
      type: Boolean,
      default: false
    },
    action: {
      type: String,
      default: "deleteQuestion"
    }
  },
  methods: {
    async onDelete() {
      try {
        this.loading = true;
        console.log(this.action, this.name);
        await this.$store.dispatch(this.action, this.name);
        this.loading = false;
        this.close();
      } catch (e) {
        console.error(e);
      }
    },
    close() {
      this.$emit("input", false);
    },
    setName(name) {
      this.name = name;
    }
  },
  data() {
    return {
      loading: false,
      payload: null,
      name: null
    };
  }
};
</script>

<style scoped lang="scss"></style>
