<template>
  <v-dialog v-model="value" persistent lazy @keydown.esc="close()">
    <v-card class="grey lighten-3">
      <v-toolbar card class="transparent">
        <v-toolbar-title>
          {{ $t(name ? "editInterview" : "addInterview") }}
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn icon @click="close()"><v-icon>close</v-icon></v-btn>
      </v-toolbar>
      <v-card-text>
        <v-form id="form" ref="form" @submit.prevent="submit()">
          <v-layout row wrap>
            <v-flex xs12>
              <div class="form-block">
                <label for="interview-input" class="subheading d-block mb-2">
                  {{ $t("position") }}
                </label>
                <v-text-field
                  id="interview-input"
                  placeholder="Data Scientist"
                  class="mr-4"
                  v-model="form.value.position"
                  solo
                >
                </v-text-field></div
            ></v-flex>
            <v-flex xs12>
              <div class="form-block">
                <label for="expire-days-input" class="subheading d-block mb-2">
                  {{ $t("sessions_expire_in_x_days") }} ({{ $t("day") }})
                </label>
                <v-slider
                  v-model="form.value.sessions_expire_in_x_days"
                  min="1"
                  max="60"
                  step="1"
                  id="expire-days-input"
                  color="success"
                  thumb-label="always"
                />
              </div>
            </v-flex>
            <v-flex xs6>
              <label class="subheading d-block mb-2">
                {{ $t("available") }} {{ $t("questions") }}
              </label>
              <draggable
                :list="copiedQuestions"
                :options="{ group: 'questions' }"
                class="preview-wrapper"
              >
                <div
                  class="preview elevation-6"
                  v-for="q in copiedQuestions"
                  :key="q.name"
                >
                  <div class="preview-body">
                    <Markdown :value="q.question"></Markdown>
                  </div>
                </div>
              </draggable>
            </v-flex>
            <v-flex xs6>
              <label class="subheading d-block mb-2">
                {{ $t("selected") }} {{ $t("questions") }}
              </label>
              <draggable
                :list="form.value.questions"
                :options="{ group: 'questions' }"
                class="preview-wrapper selected"
              >
                <div
                  v-for="q in form.value.questions"
                  :key="q.name"
                  class="preview elevation-6"
                >
                  <div class="preview-body">
                    <Markdown :value="q.question"></Markdown>
                  </div>
                </div>
              </draggable>
            </v-flex>
          </v-layout>
        </v-form>
        <Validator
          :value="form.value"
          :rules="form.rules"
          ref="validator"
        ></Validator>
      </v-card-text>
      <v-card-actions>
        <v-btn flat @click="clear()"> {{ $t("clear") }} </v-btn>
        <v-spacer></v-spacer>
        <v-btn flat @click="close()"> {{ $t("close") }} </v-btn>
        <v-btn
          flat
          color="primary"
          form="form"
          type="submit"
          :loading="loading"
        >
          {{ $t("submit") }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import Validator from "@/components/Validator";
import Markdown from "@/components/Markdown";

import { FormModalMixin } from "@/utils/mixins";
import draggable from "vuedraggable";

export default {
  name: "InterviewModal",
  mixins: [FormModalMixin],
  props: {
    questions: {
      type: Array,
      default: () => [],
      required: true
    }
  },
  components: {
    Markdown,
    Validator,
    draggable
  },
  methods: {
    initData() {
      return {
        loading: false,
        name: null,
        copiedQuestions: this.questions.slice(),
        form: {
          valid: true,
          value: {
            position: "",
            sessions_expire_in_x_days: 7,
            questions: []
          },
          rules: {
            position: [v => !!v || "Position is required"],
            sessions_expire_in_x_days: [v => !!v || "Expired Days is required"],
            questions: [v => !!v.length || "Questions is required"]
          }
        }
      };
    },
    async submit() {
      if (!this.validate()) return;
      this.loading = true;
      try {
        if (this.name) {
          await this.$store.dispatch("editInterview", {
            ...this.form.value,
            name: this.name,
            questions: this.form.value.questions.map(q => q.name)
          });
        } else {
          await this.$store.dispatch("addInterview", {
            ...this.form.value,
            questions: this.form.value.questions.map(q => q.name)
          });
        }

        this.loading = false;
        this.close();
      } catch (e) {
        this.loading = false;
      }
    },
    setValue({ questions, name, ...value }) {
      this.name = name;

      for (const key of Object.keys(this.form.value)) {
        if (value[key] === null || value[key] === undefined) continue;
        this.form.value[key] = value[key];
      }

      for (const q of questions || []) {
        const index = this.copiedQuestions.findIndex(cq => cq.name === q.name);
        if (index > -1)
          this.form.value.questions.push(
            this.copiedQuestions.splice(index, 1)[0]
          );
      }
    }
  },
  data() {
    return this.initData();
  }
};
</script>

<style scoped lang="scss">
.preview {
  display: block;
  height: 150px;
  overflow-y: auto;
  padding: 16px;
  box-sizing: border-box;
  margin: 16px;
  background: white;
}
.preview-wrapper {
  height: calc(100vh - 480px);
  overflow-y: auto;
  padding-bottom: 32px;
  margin-right: 8px;

  &.selected {
    background: rgba(black, 0.04);
    border-radius: 16px;
    background-image: url("../../assets/imgs/folder.jpg");
    background-repeat: no-repeat, repeat;
    background-position: center; /* Center the image */
  }
}
</style>
