<template>
  <v-dialog v-model="value" persistent lazy @keydown.esc="close()">
    <v-card class="grey lighten-4">
      <v-toolbar card class="transparent">
        <v-toolbar-title>
          {{ $t(name ? "editQuestion" : "addQuestion") }}
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn icon @click="close()"><v-icon>close</v-icon></v-btn>
      </v-toolbar>
      <v-card-text>
        <v-layout row>
          <v-flex xs6>
            <v-form id="form" ref="form" @submit.prevent="submit()">
              <div class="form-block">
                <label for="title-input" class="subheading d-block mb-2">
                  {{ $t("title") }}
                </label>
                <v-text-field
                  id="title-input"
                  v-model="form.value.title"
                  placeholder="title"
                  solo
                ></v-text-field>
                <label for="question-input" class="subheading d-block mb-2">
                  {{ $t("question") }}
                </label>
                <CodeEditor
                  v-model="form.value.question"
                  :options="{
                    theme: 'default',
                    mode: 'markdown',
                    lineNumbers: true
                  }"
                  class="elevation-2"
                  id="question-input"
                ></CodeEditor>
                <!--                <MonacoEditor-->
                <!--                  style="width: 100%; height: 300px;"-->
                <!--                  language="markdown"-->
                <!--                  class="elevation-2"-->
                <!--                  id="question-input"-->
                <!--                  v-model="form.value.question"-->
                <!--                >-->
                <!--                </MonacoEditor>-->
                <p class="caption pt-1">Supported Markdown</p>
              </div>
              <div class="form-block">
                <label for="type-input" class="subheading d-block mb-2">
                  {{ $t("type") }}
                </label>
                <v-select
                  :items="items"
                  item-text="key"
                  item-value="value"
                  id="type-input"
                  v-model="form.value.type"
                  solo
                ></v-select>
              </div>
              <div class="form-block">
                <label for="time_limit-input" class="subheading d-block mb-2">
                  {{ $t("timeLimit") }} ({{ $t("minute") }})
                </label>
                <v-slider
                  v-model="form.value.time_limit"
                  min="60"
                  max="3600"
                  step="60"
                  id="time_limit-input"
                  color="success"
                  thumb-label="always"
                >
                  <template slot="thumb-label" slot-scope="props">
                    <span>{{ props.value | secondsToMinutes }}</span>
                  </template>
                </v-slider>
              </div>
            </v-form>
          </v-flex>
          <v-flex xs6>
            <QuestionCard
              :question="form.value"
              class="elevation-4 ma-3"
            ></QuestionCard>
          </v-flex>
        </v-layout>
        <Validator
          :value="form.value"
          :rules="form.rules"
          ref="validator"
        ></Validator>
      </v-card-text>
      <v-card-actions>
        <v-btn flat @click="clear()"> {{ $t("clear") }} </v-btn>
        <v-spacer></v-spacer>
        <v-btn flat @click="close()"> {{ $t("close") }} </v-btn>
        <v-btn
          flat
          color="primary"
          form="form"
          type="submit"
          :loading="loading"
        >
          {{ $t("submit") }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import QuestionCard from "@/components/QuestionCard";
import Validator from "@/components/Validator";
import { FormModalMixin } from "@/utils/mixins";
import CodeEditor from "@/components/CodeEditor";

export default {
  name: "QuestionModal",
  mixins: [FormModalMixin],
  components: {
    CodeEditor,
    Validator,
    QuestionCard
  },
  props: {
    value: {
      type: Boolean,
      value: true
    }
  },
  methods: {
    initData() {
      return {
        loading: false,
        previewModal: false,
        name: null,
        form: {
          value: {
            title: "",
            question: "",
            type: "coding",
            time_limit: 60
          },
          rules: {
            title: [v => !!v || "Title is required"],
            question: [v => !!v || "Question is required"],
            type: [v => !!v || "Type is required"],
            time_limit: [v => !!v || "Time Limit is required"]
          }
        },
        items: [
          {
            key: "Coding",
            value: "coding"
          },
          {
            key: "Video",
            value: "video"
          },
          {
            key: "Essay",
            value: "short_essay"
          }
        ]
      };
    },
    async submit() {
      if (!this.$refs.validator.validate()) return;
      this.loading = true;
      try {
        if (this.name) {
          await this.$store.dispatch("editQuestion", {
            name: this.name,
            ...this.form.value
          });
        } else {
          await this.$store.dispatch("addQuestion", this.form.value);
        }
        this.loading = false;
        this.close();
      } catch (e) {
        this.loading = false;
      }
    }
  },
  data() {
    return this.initData();
  }
};
</script>

<style scoped lang="scss"></style>
