<template>
  <v-container>
    <v-card class="elevation-8" v-if="!name">
      <v-toolbar card>
        <v-toolbar-title class="font-weight-regular">
          {{ $t("candidates") }}
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <v-toolbar-items>
          <v-btn icon @click="candidateModal = true">
            <v-tooltip top>
              <v-icon class="grey--text" slot="activator">add</v-icon>
              <span>{{ $t("addCandidate") }}</span>
            </v-tooltip>
          </v-btn>
        </v-toolbar-items>
      </v-toolbar>
      <v-card-text class="pa-0">
        <CandidateTable
          :candidates="candidates"
          :loading="loading"
          @viewDetail="selectCandidate"
          @sendInvitations="sendInvitations"
          @deleteCandidate="deleteCandidate"
          @editCandidate="editCandidate"
        ></CandidateTable>
      </v-card-text>
    </v-card>

    <v-card class="elevation-8" v-if="name && candidate">
      <v-toolbar card>
        <v-toolbar-title class="font-weight-regular">
          {{ candidate.full_name }}
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <v-toolbar-items>
          <v-btn icon @click="sendInvitations">
            <v-tooltip top>
              <v-icon class="grey--text" slot="activator">mail_outline</v-icon>
              <span>{{ $t("sendInvitations") }}</span>
            </v-tooltip>
          </v-btn>
          <v-btn icon @click="deleteCandidate">
            <v-tooltip top>
              <v-icon class="grey--text" slot="activator">delete</v-icon>
              <span> {{ $t("deleteCandidate") }}</span>
            </v-tooltip>
          </v-btn>
        </v-toolbar-items>
      </v-toolbar>
      <v-card-text>
        <v-subheader class="pl-0">
          {{ $t("firstName") }}
        </v-subheader>
        <p>
          {{ candidate.first_name }}
        </p>

        <v-subheader class="pl-0">
          {{ $t("lastName") }}
        </v-subheader>
        <p>
          {{ candidate.last_name }}
        </p>

        <v-subheader class="pl-0">
          {{ $t("phoneNumber") }}
        </v-subheader>
        <p>
          {{ candidate.phone_number }}
        </p>

        <v-subheader class="pl-0">
          {{ $t("email") }}
        </v-subheader>
        <p>
          {{ candidate.email_address }}
        </p>

        <v-subheader class="pl-0">
          {{ $t("createdAt") }}
        </v-subheader>
        <p>
          {{ candidate.created_at | sliceToISOYYYMMDD }}
        </p>

        <v-subheader class="pl-0">
          {{ $t("sessions") }}
        </v-subheader>
        <SubSessionTable
          :sessions="candidate.sessions || []"
          :is-in-candidate-page="true"
          class="inner-table"
        ></SubSessionTable>
      </v-card-text>
    </v-card>

    <CandidateModal
      v-model="candidateModal"
      ref="candidateModal"
    ></CandidateModal>
    <SendInvitationsModal
      v-model="invitationModal"
      ref="invitationModal"
      @submitted="initialize()"
    ></SendInvitationsModal>
    <DeleteModal
      v-model="deleteModal"
      action="deleteCandidate"
      ref="deleteModal"
    ></DeleteModal>
  </v-container>
</template>

<script>
import CandidateTable from "@/components/table/CandidateTable";
import SubSessionTable from "@/components/table/SubSessionTable";
import SendInvitationsModal from "@/components/modal/SendInvitationsModal";
import CandidateModal from "@/components/modal/CandidateModal";
import DeleteModal from "@/components/modal/DeleteModal";

export default {
  name: "RecruiterCandidate",
  components: {
    CandidateModal,
    CandidateTable,
    SubSessionTable,
    SendInvitationsModal,
    DeleteModal
  },
  data() {
    return {
      loading: true,
      candidateModal: false,
      invitationModal: false,
      deleteModal: false
    };
  },
  methods: {
    sendInvitations(candidate) {
      this.invitationModal = true;
      this.$refs.invitationModal.setValue({
        candidates: [candidate || this.candidate]
      });
    },
    editCandidate(candidate) {
      this.candidateModal = true;
      this.$refs.candidateModal.setValue(candidate || this.candidate);
    },
    deleteCandidate(candidate) {
      this.deleteModal = true;
      this.$refs.deleteModal.setName((candidate || this.candidate).name);
      console.log(candidate, this.candidate);
    },
    selectCandidate(candidate) {
      this.$router.push(
        `/${this.$i18n.locale}/recruiter/candidate/${candidate.name}`
      );
    },
    initialize() {
      this.$store.dispatch("getCandidates").then(() => {
        this.loading = false;
      });

      if (this.interviews.length === 0) {
        this.$store.dispatch("getInterviews");
      }

      if (this.name) this.$store.dispatch("getCandidate", this.name);
    }
  },
  computed: {
    candidates() {
      return this.$store.state.candidates;
    },
    interviews() {
      return this.$store.state.interviews;
    },
    name() {
      return this.$route.params.name;
    },
    candidate() {
      return this.$store.state.candidate;
    }
  },
  watch: {
    name(value) {
      if (value) {
        this.$store.dispatch("getCandidate", value);
      } else {
        this.$store.commit("GET_CANDIDATE", null);
      }
    }
  },
  filters: {},
  mounted() {
    this.initialize();
  }
};
</script>

<style scoped lang="scss">
.inner-table {
  border: 1px solid #d6d6d6;
}
</style>
