<template>
  <v-container>
    <v-card class="elevation-8">
      <v-toolbar card>
        <v-toolbar-title class="font-weight-regular">
          {{ $t("questions") }}
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <v-toolbar-items>
          <v-btn icon @click="questionModal = true">
            <v-tooltip top>
              <v-icon class="grey--text" slot="activator">add</v-icon>
              <span>{{ $t("addQuestion") }}</span>
            </v-tooltip>
          </v-btn>
        </v-toolbar-items>
      </v-toolbar>
      <v-card-text class="pa-0">
        <QuestionTable
          :questions="questions"
          :loading="loading"
          @deleteQuestion="deleteQuestion"
          @editQuestion="editQuestion"
        ></QuestionTable>
      </v-card-text>
    </v-card>
    <DeleteModal
      v-model="deleteModal"
      action="deleteQuestion"
      ref="deleteModal"
    ></DeleteModal>
    <QuestionModal ref="questionModal" v-model="questionModal"></QuestionModal>
  </v-container>
</template>

<script>
import QuestionTable from "@/components/table/QuestionTable";
import QuestionModal from "@/components/modal/QuestionModal";
import DeleteModal from "@/components/modal/DeleteModal";

export default {
  name: "RecruiterQuestion",
  components: {
    DeleteModal,
    QuestionModal,
    QuestionTable
  },
  methods: {
    getQuestions() {
      this.loading = true;
      this.$store
        .dispatch("getQuestions", {
          // nextToken: this.listQuestions.nextToken
        })
        .then(() => {
          this.loading = false;
        });
    },
    editQuestion(q) {
      console.log(this.$refs.questionModal);
      this.questionModal = true;
      this.$refs.questionModal.setValue(q);
    },
    deleteQuestion(q) {
      this.deleteModal = true;
      this.$refs.deleteModal.setName(q.name);
    }
  },
  filters: {},
  data() {
    return {
      questionModal: false,
      deleteModal: false,
      loading: true
    };
  },
  computed: {
    questions() {
      return this.$store.state.questions;
    }
  },
  mounted() {
    this.getQuestions();
  }
};
</script>

<style scoped lang="scss"></style>
