<template>
  <v-container>
    <v-card>
      <v-toolbar card>
        <v-toolbar-title class="font-weight-regular">
          Test
        </v-toolbar-title>
      </v-toolbar>
      <v-card-text>
        <v-btn color="primary" @click="clickTest()">test</v-btn>
        <v-subheader>Result</v-subheader>
        <Prism :value="preview" lang="javascript"></Prism>
        <CodeEditor class="ma-2 elevation-4"></CodeEditor>
        <columnChart
          :data="ratingsChart.data"
          :options="ratingsChart.options"
        ></columnChart>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script>
import Prism from "@/components/Prism";
import { barChart, lineChart, columnChart } from "@toast-ui/vue-chart";
import CodeEditor from "@/components/CodeEditor";
const session = {
  name: "8a925508",
  interview_name: "bb6ca33c",
  interview_position: "Data Scientist",
  candidate_name: "9aebc9a2",
  candidate_first_name: "Jaemin",
  candidate_last_name: "Kim",
  recommendation: true,
  average: 3.2,
  answers: [
    {
      id: 140,
      name: "187eaa75",
      answer: "",
      started_at: "2019-02-14T07:50:25.134000+00:00",
      completed_at: "2019-02-14T07:50:38.190000+00:00",
      question:
        "A random variable X is normal with mean 1,000 and standard deviation 100. Calculate P(X>1200). \n\nWrite your logic as well so that in case your answer is not correct, evaluations still can give you partial points.",
      type: "short_essay",
      time_limit: 300,
      title: "Data Scientist - Calculate Probability",
      rating: 5,
      notes: "test"
    },
    {
      id: 141,
      name: "1875876a",
      answer: "",
      started_at: "2019-02-14T07:50:39.332000+00:00",
      completed_at: "2019-02-14T07:50:40.817000+00:00",
      question:
        "Infection rates at a hospital above 1 infection per 100 person*days at risk are considered high. \n\nAn hospital had 5 infections over the last 2000 person*days at risk. Calculate the p-value of the correct one-sided test of whether the hospital is below the standard. \n\nWrite your logic as well so that in case your answer is not correct, evaluations still can give you partial points.",
      type: "short_essay",
      time_limit: 300,
      title: "Data Scientist - Calculate P-value",
      rating: 1.5,
      notes: "test"
    },
    {
      id: 142,
      name: "84ed8475",
      answer: "",
      started_at: "2019-02-14T07:50:41.882000+00:00",
      completed_at: "2019-02-14T07:50:43.443000+00:00",
      question:
        "In Python, write a function that takes a list of real numbers and `None` as an input, replaces `None` values  with the mean of the real numbers in the input, and then returns a list without missing values. The order of elements in the output list is important. \n\nYou cannot use external libraries. \n\nYour function's signature should look like `replace_missing_values(l)`",
      type: "coding",
      time_limit: 600,
      title: "Data Scientist - Replace missing values",
      rating: 2,
      notes: "test"
    },
    {
      id: 143,
      name: "f995fea0",
      answer: "",
      started_at: "2019-02-14T07:50:45.233000+00:00",
      completed_at: "2019-02-14T07:50:53.597000+00:00",
      question:
        "In Python, Write a function that takes two lists of real numbers. The two lists have a same length. The function should return True if the two lists' means are statistically different or False otherwise. \n\nYou can use any external library. \n\nYour function's signature should look like `is_statistically_different(l1, l2)`",
      type: "coding",
      time_limit: 600,
      title: "Data Scientist - is statistically different",
      rating: 4,
      notes: "test"
    },
    {
      id: 144,
      name: "9226e4a8",
      answer: "",
      started_at: "2019-02-14T07:50:54.698000+00:00",
      completed_at: "2019-02-14T07:50:56.443000+00:00",
      question:
        "You have two tables named employees (ID, name, start-date, salary) and managers (ID, report_id (FK to employees), and manager_ID (FK to employees)). \n\nWrite a SQL query that finds the names of employees whose salaries are higher than their managers.",
      type: "coding",
      time_limit: 600,
      title: "Data Scientist - SQL",
      rating: 4.5,
      notes: "test"
    },
    {
      id: 145,
      name: "8c6c8426",
      answer: "",
      started_at: "2019-02-14T07:50:57.264000+00:00",
      completed_at: "2019-02-14T07:50:59.299000+00:00",
      question:
        "A box has 12 black and 12 red cards. Another box has 24 black and 24 red cards; if you want to draw 2 cards at random from one of the 2 boxes, which box has the higher probability of getting the same color? \n\nWrite your logic as well so that in case your answer is not correct, evaluations still can give you partial points.",
      type: "short_essay",
      time_limit: 300,
      title: "Data Scientist - higher probability",
      rating: 0.5,
      notes: "test"
    }
  ],
  evaluations: [
    {
      username: "jaemin@knowru.com",
      answers: [
        { id: 140, rating: 5, notes: "test" },
        { id: 141, rating: 1.5, notes: "test" },
        { id: 142, rating: 2, notes: "test" },
        { id: 143, rating: 4, notes: "test" },
        { id: 144, rating: 4.5, notes: "test" },
        { id: 145, rating: 0.5, notes: "test" }
      ],
      average: 2.9,
      recommendation: true
    },
    {
      username: "rlawoals93@naver.com",
      answers: [
        { id: 140, rating: 3, notes: "effefe" },
        { id: 143, rating: 4, notes: "test" }
      ],
      average: 4,
      recommendation: null
    }
  ],
  status: "Completed",
  candidate_full_name: "Jaemin, Kim"
};

export default {
  name: "RecruiterTest",
  components: { CodeEditor, Prism, barChart, lineChart, columnChart },
  methods: {
    async clickTest() {
      this.result = await this.$store.dispatch("testApi");
    }
  },
  computed: {
    preview() {
      return JSON.stringify(this.result, undefined, 4);
    }
  },
  mounted() {
    console.log({ ...this.ratingsChart });
  },
  data() {
    return {
      result: "Hello World",

      ratingsChart: {
        data: {
          // for 'data' prop of 'bar-chart'
          categories: session.answers.map((s, i) => `Q ${i + 1}.`),
          series: session.evaluations.map(e => ({
            name: e.username,
            data: e.answers.map(a => a.rating)
          }))
        },
        options: {
          chart: {
            width: "1440"
          },
          yAxis: {
            title: "Rating",
            min: 0.5,
            max: 5,
            step: 0.5
          },
          xAxis: {
            title: "Questions"
          }
        }
      }
    };
  }
};
</script>

<style scoped></style>
