<template>
  <v-container>
    <v-card class="elevation-8 mb-4" v-if="!name">
      <v-toolbar card>
        <v-toolbar-title class="font-weight-regular">
          {{ $t("sessions") }}
        </v-toolbar-title>
      </v-toolbar>
      <v-card-text class="pa-0">
        <v-layout row wrap class="grey lighten-4">
          <v-flex xs12 sm6 class="pa-2">
            <v-select
              label="Candidate"
              v-model="selectedFullName"
              :items="candidates"
              item-value="full_name"
              item-text="full_name"
              outline
              append-icon="people"
              clearable
            ></v-select>
          </v-flex>
          <v-flex xs12 sm6 class="pa-2">
            <v-select
              label="Interview"
              v-model="selectedPosition"
              :items="interviews"
              item-value="position"
              item-text="position"
              outline
              append-icon="event"
              clearable
            ></v-select>
          </v-flex>
        </v-layout>
        <v-divider></v-divider>
        <SessionTable
          :sessions="filteredSessions"
          :loading="loading"
          @clickRow="clickSession"
        >
        </SessionTable>
      </v-card-text>
    </v-card>

    <v-card class="elevation-8" v-if="name && session">
      <v-toolbar card class="grey lighten-2">
        <v-toolbar-title class="font-weight-regular">
          {{ session.candidate_full_name }}
          <small class="grey--text text--darken-2"
            >({{ session.interview_position }})</small
          >
        </v-toolbar-title>
        <v-spacer></v-spacer>
        {{ $t("average") }}
        <v-rating
          class="mx-3"
          :value="session.average"
          half-increments
          readonly
        ></v-rating>
        <v-spacer></v-spacer>
        <v-switch
          :label="$t('recommend')"
          v-model="session.recommendation"
          @change="recommendSession()"
          color="primary"
          class="mt-4"
        ></v-switch>
      </v-toolbar>
      <v-divider></v-divider>
      <v-card-text class="grey lighten-4">
        <div class="text-xs-center pb-4">
          <v-pagination
            :length="(session.answers || []).length"
            v-model="answerPage"
            circle
          ></v-pagination>
        </div>
        <v-layout flex wrap style="margin: -8px;">
          <v-flex xs6>
            <div class="ma-2">
              <p class="headline blue--text text--darken-2">Question.</p>
              <div class="question py-1">
                <Markdown :value="answer.question"></Markdown>
              </div>
            </div>
          </v-flex>
          <v-flex xs6>
            <div class="ma-2">
              <p class="headline blue--text text--darken-2">Answer.</p>
              <div v-if="answer.answer" class="answer py-1">
                <Prism
                  :value="answer.answer"
                  v-if="answer.type === 'coding'"
                  language="python"
                ></Prism>
                <p v-else>{{ answer.answer }}</p>
              </div>
              <v-alert
                v-if="!answer.answer"
                icon="error"
                color="error"
                outline
                value="true"
                Recommend
              >
                The candidate didn't type the answer.
              </v-alert>
            </div>
          </v-flex>
        </v-layout>
        <v-card class="mt-4">
          <v-card-text>
            <v-form id="rate-form" @submit.prevent="rateAnswer()">
              <span class="v-label grey--text text--darken-1">{{
                $t("rating")
              }}</span>
              <v-rating
                v-model="form.value.rating"
                hover
                half-increments=""
              ></v-rating>
              <v-textarea
                :label="$t('notes')"
                v-model="form.value.notes"
                placeholder="What's your opinion?"
                auto-grow
              ></v-textarea>
              <Validator
                :value="form.value"
                :rules="form.rules"
                ref="validator"
              ></Validator>
              <div class="text-xs-right">
                <v-btn
                  color="primary"
                  :loading="rateLoading"
                  form="rate-form"
                  large
                  round
                  type="submit"
                >
                  {{ $t("submit") }}
                </v-btn>
              </div>
            </v-form>
          </v-card-text>
        </v-card>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script>
import SessionTable from "@/components/table/SessionTable";
import Markdown from "@/components/Markdown";
import Prism from "@/components/Prism";
import Validator from "@/components/Validator";
export default {
  name: "RecruiterSession",
  components: {
    Validator,
    Prism,
    Markdown,
    SessionTable
  },
  data() {
    return {
      selectedPosition: null,
      selectedFullName: null,
      loading: false,
      rateLoading: false,
      answerPage: 1,
      form: {
        value: {
          rating: 0,
          notes: null
        },
        rules: {
          rating: [v => (!v ? `Rating is required` : true)],
          notes: [v => (!v ? `Notes is required` : true)]
        }
      }
    };
  },
  computed: {
    sessions() {
      return this.$store.state.sessions;
    },
    filteredSessions() {
      console.log(this.selectedFullName);
      console.log(this.selectedPosition);

      return this.sessions
        .filter(session =>
          this.selectedFullName
            ? session.candidate_full_name === this.selectedFullName
            : true
        )
        .filter(session =>
          this.selectedPosition
            ? session.interview_position === this.selectedPosition
            : true
        );
    },
    interviews() {
      return this.$store.state.interviews.filter(
        item => item.number_of_sessions > 0
      );
    },
    candidates() {
      return this.$store.state.candidates.filter(
        item => item.number_of_sessions > 0
      );
    },
    name() {
      return this.$route.params.name;
    },
    session() {
      return this.$store.state.session;
    },
    answer() {
      if (this.session && this.session.answers) {
        return this.session.answers[this.answerPage - 1];
      } else {
        return null;
      }
    }
  },
  watch: {
    name() {
      this.initialize();
    },
    answer(value) {
      this.form.value.rating = value ? parseInt(value.rating) : 0;
      this.form.value.notes = value ? value.notes : "";
    }
  },
  methods: {
    async rateAnswer() {
      if (this.$refs.validator.validate() === false) return;

      this.rateLoading = true;
      try {
        await this.$store.dispatch("rateAnswer", {
          name: this.answer.name,
          id: this.answer.id,
          ...this.form.value
        });
        this.rateLoading = false;
      } catch (e) {
        console.error(e);
        this.rateLoading = false;
      }
    },
    clickSession({ name }) {
      this.$router.push(`/${this.$i18n.locale}/recruiter/session/${name}`);
    },
    recommendSession() {
      this.$store
        .dispatch("recommendSession", {
          name: this.name,
          recommendation: this.session.recommendation
        })
        .catch(() => {
          this.session.recommendation = !this.session.recommendation;
        });
    },
    async initialize() {
      this.loading = false;

      if (this.interviews.length === 0) this.$store.dispatch("getInterviews");
      if (this.candidates.length === 0) this.$store.dispatch("getCandidates");

      await (this.name
        ? this.$store.dispatch("getSession", this.name)
        : this.$store.dispatch("getSessions"));

      this.loading = false;
    }
  },
  async mounted() {
    this.initialize();
  }
};
</script>

<style scoped lang="scss">
.question,
.answer {
  margin-bottom: 34px;
  max-height: 640px;
  overflow: auto;
}
</style>
