<template>
  <v-select
    :value="$i18n.locale"
    :items="languages"
    @change="changeLanguage"
    item-text="label"
    item-value="value"
    style="width: 220px;"
    solo
    flat
  >
  </v-select>
</template>

<script>
export default {
  name: "LanguageSwitcher",
  data() {
    return {
      languages: [
        {
          label: "한국어",
          value: "ko"
        },
        {
          label: "中文",
          value: "cn"
        },
        {
          label: "English",
          value: "en"
        }
      ]
    };
  },
  methods: {
    changeLanguage(lang) {
      this.$i18n.locale = lang;
      const urls = this.$route.fullPath.split("/");
      urls[1] = lang;
      this.$router.push(urls.join("/"));
      window.location.reload();
    }
  }
};
</script>

<style scoped lang="scss"></style>
