<template>
  <div v-html="preview" class="markdown-body"></div>
</template>

<script>
import marked, { Renderer } from "marked";

const renderer = new Renderer();

renderer.code = (code, lang) => {
  let highlighted = "";
  try {
    highlighted = window.Prism.highlight(
      code,
      window.Prism.languages[lang] || "markup",
      lang || "markup"
    );
  } catch (e) {
    highlighted = code;
  }

  return `<pre class="language-${lang} my-3">${highlighted}</pre>`;
};

export default {
  name: "Markdown",
  props: {
    value: {
      type: String,
      default: ""
    }
  },
  computed: {
    preview() {
      return marked(this.value, { renderer: renderer });
    }
  }
};
</script>

<style scoped lang="scss"></style>
