<template>
  <pre :class="'language-' + language + ' ma-0'" v-html="preview"></pre>
</template>

<script>
export default {
  name: "Prism",
  props: {
    value: {
      type: String,
      default: ""
    },
    language: {
      type: String,
      default: "python"
    }
  },
  computed: {
    preview() {
      let highlighted = "";
      try {
        highlighted = window.Prism.highlight(
          this.value,
          window.Prism.languages[this.language] || "markup",
          this.language || "markup"
        );
      } catch (e) {
        highlighted = this.code;
      }

      return highlighted;
    }
  }
};
</script>

<style scoped lang="scss"></style>
