<template>
  <v-card dark class="question-card">
    <v-toolbar card>
      <v-toolbar-title>
        {{ question.title }}
      </v-toolbar-title>
      <div class="chips ml-4">
        <v-chip label color="green" outline>
          <v-avatar>
            <v-icon color="green">
              {{ question.type | typeToIcon }}
            </v-icon>
          </v-avatar>
          <strong>
            {{ enums[question.type] }}
          </strong>
        </v-chip>
        <v-chip label color="orange" outline>
          <v-avatar>
            <v-icon color="orange">timer</v-icon>
          </v-avatar>
          <strong>
            {{ question.time_limit | secondsToFriendlyTime }}
          </strong>
        </v-chip>
      </div>
    </v-toolbar>
    <v-card-text class="markdown-scroller">
      <Markdown :value="question.question"></Markdown>
    </v-card-text>
  </v-card>
</template>

<script>
import Markdown from "@/components/Markdown";
import { questionTypeEnums } from "@/utils/enums";

export default {
  name: "QuestionCard",
  components: {
    Markdown
  },
  props: {
    question: Object
  },
  computed: {
    enums() {
      return questionTypeEnums;
    }
  },
  methods: {
    fullscreen() {
      const el = this.$refs.card.$el;

      if (el.requestFullscreen) {
        el.requestFullscreen();
      } else if (el.mozRequestFullScreen) {
        /* Firefox */
        el.mozRequestFullScreen();
      } else if (el.webkitRequestFullscreen) {
        /* Chrome, Safari and Opera */
        el.webkitRequestFullscreen();
      } else if (el.msRequestFullscreen) {
        /* IE/Edge */
        el.msRequestFullscreen();
      }
    }
  },
  filters: {
    typeToIcon(type) {
      if (type === "video") {
        return "videocam";
      } else if (type === "short_essay") {
        return "edit";
      } else {
        return "code";
      }
    }
  }
};
</script>

<style scoped lang="scss">
.question-card {
  height: 640px;
  overflow: auto;
}
.markdown-scroller {
  padding: 16px;
  overflow: auto;
  &.fullscreen {
    height: initial;
  }
}
</style>
