<template>
  <div class="video">
    <div class="video__wrapper">
      <video ref="video" class="video__recorder"></video>
      <div class="video__mock" v-if="!started">
        <v-icon size="55">videocam</v-icon>
      </div>
      <div class="video__controllers">
        <v-btn v-if="!started" @click="start()" flat small>
          <v-icon left>play_arrow</v-icon>Start Recording
        </v-btn>
        <v-btn v-if="started" @click="stop()" flat small>
          <v-icon left>stop</v-icon>Stop Recording
        </v-btn>
        <v-btn v-if="completed" @click="upload()" flat small>
          <v-icon left>cloud_upload</v-icon>Upload Video
        </v-btn>
      </div>
    </div>
  </div>
</template>
<script>
const RecordRTC = require("recordrtc");

export default {
  name: "Video",
  props: {
    fileName: String
  },
  data: function() {
    return {
      started: false,
      completed: false,
      videoModel: "",
      stream: null,
      recordRTC: null
    };
  },
  methods: {
    start() {
      const mediaConstraints = {
        video: { width: 800, height: 400 },
        audio: true
      };
      window.navigator.mediaDevices.getUserMedia(mediaConstraints).then(
        stream => {
          this.$refs.video.src = window.URL.createObjectURL(stream);
          this.$refs.video.play();

          const options = {
            mimeType: "video/webm", // or video/webm\;codecs=h264 or video/webm\;codecs=vp9
            audioBitsPerSecond: 128000,
            videoBitsPerSecond: 128000,
            timeSlice: 2000,
            bitsPerSecond: 128000 // if this line is provided, skip above two
          };

          this.stream = stream;
          this.recordRTC = RecordRTC(stream, options);
          this.recordRTC.start();
          this.started = true;
          this.completed = false;
          this.$emit("start");
        },
        error => {
          alert(error);
          console.error(error);
        }
      );
    },
    stop() {
      this.started = false;
      this.completed = true;
      this.recordRTC.stop(audioVideoWebMURL => {
        this.$refs.video.src = audioVideoWebMURL;
        this.$refs.video.pause();
      });
      this.stream.getAudioTracks().forEach(track => track.stop());
      this.stream.getVideoTracks().forEach(track => track.stop());
      this.$emit("stop", this.recordRTC.getBlob());
    },
    upload() {
      this.$emit("upload");
    }
  },
  computed: {},
  mounted: function() {
    const video = this.$refs.video;
    video.muted = true;
    video.autoplay = false;
  },
  created: function() {}
};
</script>

<style scoped lang="scss">
.video {
  display: flex;
  justify-content: center;
  align-items: center;
}
.video .video__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}
.video .video__wrapper .video__mock {
  position: absolute;
  width: 100%;
  height: 100px;
  left: 0;
  top: 0;
  z-index: 2;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
}
.video .video__wrapper .video__recorder {
  width: 100%;
  height: 100px;
  box-sizing: content-box;
  border-bottom: white solid 1px;
  border-radius: 4px;
}
.video .video__wrapper .video__controllers {
  text-align: center;
}
</style>
