@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,700,900|Nunito|Noto+Sans+KR:300,400,700|Noto+Sans+SC:300,400,700|Source+Code+Pro');
@import url('https://fonts.googleapis.com/css?family=Material+Icons');
@import "~material-design-icons-iconfont/dist/material-design-icons.css";
// @import "~@mdi/font/css/materialdesignicons.css";

$body-font-family := 'Roboto', 'Noto Sans KR', 'Noto Sans SC', sans-serif
$landing-font-family := 'Nunito', 'Noto Sans KR', sans-serif
$mono-font-family := 'Source Code Pro', monospace


@import '~vuetify/src/stylus/main'

#Home
  font-family: $landing-font-family

code, pre
  font-family: $mono-font-family !important

code
  background-color: none;
  box-shadow: none;
