<template>
  <v-card width="450" class="auth-card" flat>
    <v-card-text>
      <div class="auth-card__header text-xs-center">
        <router-link
          :to="'/' + $i18n.locale"
          class="auth-card__header__logo"
          style="text-decoration: none;"
        >
          AI Interview
        </router-link>
        <h4 class="auth-card__header__title" v-t="'authenticateEmail'"></h4>
      </div>
      <v-form
        id="confirm-form"
        v-model="form.valid"
        @submit.prevent="verifyCode"
        ref="form"
      >
        <v-text-field
          name="email"
          id="email"
          type="text"
          v-model="form.value.email"
          :rules="form.rules.email"
          :label="$t('email')"
          outline
        ></v-text-field>
        <v-text-field
          name="code"
          id="code"
          type="text"
          v-model="form.value.code"
          :rules="form.rules.code"
          :label="$t('code')"
          outline
        ></v-text-field>
      </v-form>
    </v-card-text>
    <v-card-actions>
      <v-btn
        flat
        color="primary"
        :to="'/' + $i18n.locale + '/auth/sign-in'"
        v-t="'signIn'"
      ></v-btn>
      <v-spacer></v-spacer>
      <v-btn
        outline
        color="primary"
        large
        v-t="'resendCode'"
        @click="resendCode"
      ></v-btn>
      <v-btn
        depressed
        color="primary"
        large
        v-t="'verifyCode'"
        type="submit"
        form="confirm-form"
      ></v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  name: "Confirm",
  mounted() {},
  computed: {
    user() {
      return this.$store.state.user;
    }
  },
  methods: {
    verifyCode() {
      console.log(this.$refs.form);
      if (this.$refs.form.validate()) {
        this.$store.dispatch("confirmSignUp", this.form.value).then(() => {
          this.$router.push(`/${this.$i18n.locale}/auth/sign-in`);
        });
      }
    },
    resendCode() {
      if (this.form.value.email) {
        this.$store.dispatch("resendSignUp", this.form.value).then(() => {});
      }
    }
  },
  data() {
    return {
      form: {
        valid: false,
        value: {
          email: "",
          code: ""
        },
        rules: {
          email: [v => (!v ? "Email is required" : true)],
          code: [v => (!v ? "Code is required" : true)]
        }
      }
    };
  },
  created() {
    if (this.user) {
      this.form.value.email = this.user.username;
    }
  }
};
</script>

<style scoped lang="scss">
.auth-card {
  border: #dedede solid 1px;
  border-radius: 16px;
  padding-bottom: 16px;
}
.auth-card .auth-card__header {
  letter-spacing: 0.05em;
  padding: 0 6px;
}
.auth-card .auth-card__header .auth-card__header__logo {
  font-size: 24px;
  line-height: 42px;
  font-weight: 400;
}
.auth-card .auth-card__header .auth-card__header__title {
  font-size: 28px;
  line-height: 42px;
  font-weight: 400;
  margin-bottom: 24px;
}
.auth-card .flex {
  padding: 0 6px;
}
.auth-card .v-btn {
  border-radius: 8px;
  margin: 0 8px;
  text-transform: capitalize;
}
</style>
