<template>
  <!--<amplify-sign-up class="elevation-8"></amplify-sign-up>-->
  <v-card class="auth-card" flat>
    <v-card-text>
      <div class="auth-card__header">
        <router-link
          :to="'/' + $i18n.locale"
          class="auth-card__header__logo"
          style="text-decoration: none;"
        >
          AI Interview
        </router-link>
        <h4 class="auth-card__header__title" v-t="'createYourAccount'"></h4>
      </div>
      <v-form ref="signUpForm" id="sign-up-form" @submit.prevent="submitSignUp">
        <v-layout row wrap>
          <v-flex xs12>
            <v-text-field
              name="first_name"
              id="first_name"
              type="text"
              v-model="form.value.first_name"
              :label="$t('firstName')"
              outline
            >
            </v-text-field>
          </v-flex>
          <v-flex xs12>
            <v-text-field
              name="last_name"
              id="last_name"
              type="text"
              v-model="form.value.last_name"
              :label="$t('lastName')"
              outline
            >
            </v-text-field>
          </v-flex>
          <v-flex xs4>
            <v-text-field
              name="organization"
              id="organization"
              type="text"
              v-model="form.value.organization"
              :label="$t('organization')"
              outline
            >
            </v-text-field>
          </v-flex>
          <v-flex xs3>
            <v-autocomplete
              v-model="form.value.country_code"
              :items="countryCodes"
              item-text="name"
              item-value="dial_code"
              :label="$t('country')"
              outline
            ></v-autocomplete>
          </v-flex>
          <v-flex xs5>
            <v-text-field
              name="phone_number"
              id="phone_number"
              type="text"
              v-model="form.value.phone_number"
              :label="$t('phoneNumber')"
              :prefix="form.value.country_code"
              outline
            >
            </v-text-field>
          </v-flex>
          <v-flex xs12>
            <v-text-field
              name="email"
              id="email"
              type="email"
              v-model="form.value.email"
              :label="$t('email')"
              outline
            >
            </v-text-field>
          </v-flex>
          <v-flex xs6>
            <v-text-field
              name="password"
              id="password"
              :type="form.visibilityOfPassword ? 'text' : 'password'"
              v-model="form.value.password"
              :label="$t('password')"
              outline
            >
            </v-text-field>
          </v-flex>
          <v-flex xs6>
            <v-text-field
              name="confirm"
              id="confirm"
              :type="form.visibilityOfPassword ? 'text' : 'password'"
              v-model="form.value.confirm"
              :label="$t('confirmPassword')"
              :append-icon="
                form.visibilityOfPassword ? 'visibility' : 'visibility_off'
              "
              @click:append="
                form.visibilityOfPassword = !form.visibilityOfPassword
              "
              outline
            >
            </v-text-field>
          </v-flex>
        </v-layout>
      </v-form>
      <Validator
        :value="form.value"
        :rules="form.rules"
        ref="validator"
      ></Validator>
    </v-card-text>
    <v-card-actions>
      <v-btn
        flat
        color="primary"
        :to="'/' + $i18n.locale + '/auth/sign-in'"
        v-t="'signIn'"
      ></v-btn>
      <!--      <v-btn-->
      <!--        flat-->
      <!--        color="primary"-->
      <!--        :to="'/' + $i18n.locale + '/auth/confirm'"-->
      <!--        v-t="'verifyCode'"-->
      <!--      ></v-btn>-->
      <v-spacer></v-spacer>
      <v-btn
        depressed
        color="primary"
        large
        v-t="'createYourAccount'"
        form="sign-up-form"
        :loading="loading"
        type="submit"
      ></v-btn>
    </v-card-actions>
  </v-card>
</template>
<script>
import countryCodes from "@/utils/dial-codes";
import Validator from "@/components/Validator";
import ValidationRule from "@/utils/validation-rule";

export default {
  name: "SignUp",
  components: { Validator },
  computed: {
    countryCodes() {
      return countryCodes;
    }
  },
  data() {
    return {
      loading: false,
      form: {
        visibilityOfPassword: false,
        value: {
          email: "",
          password: "",
          confirm: "",
          first_name: "",
          last_name: "",
          organization: "",
          country_code: "",
          phone_number: ""
        },
        rules: {
          first_name: new ValidationRule("firstName").required().value(),
          last_name: new ValidationRule("lastName").required().value(),
          organization: new ValidationRule("organization").required().value(),
          country_code: new ValidationRule("country").required().value(),
          phone_number: new ValidationRule("phoneNumber").required().value(),
          email: new ValidationRule("email")
            .required()
            .email()
            .value(),
          password: new ValidationRule("password")
            .required()
            .password()
            .minLength(6)
            .value(),
          confirm: [
            v => v === this.form.value.password || "Check your password"
          ]
        }
      }
    };
  },
  methods: {
    async submitSignUp() {
      if (!this.$refs.validator.validate()) return;
      this.loading = true;
      try {
        const res = await this.$store.dispatch("signUp", this.form.value);

        if (res.user) {
          this.$router.push({
            path: `/${this.$i18n.locale}/auth/sign-in`,
            query: {
              status: "confirmEmail"
            }
          });
        }
      } catch (e) {
        console.error(e);
      } finally {
        this.loading = false;
      }
    }
  }
};
</script>

<style scoped lang="scss">
.auth-card {
  border: #dedede solid 1px;
  border-radius: 16px;
  padding-bottom: 16px;
}
.auth-card .auth-card__header {
  letter-spacing: 0.05em;
  padding: 0 6px;
}
.auth-card .auth-card__header .auth-card__header__logo {
  font-size: 24px;
  line-height: 42px;
  font-weight: 400;
}
.auth-card .auth-card__header .auth-card__header__title {
  font-size: 28px;
  line-height: 42px;
  font-weight: 400;
  margin-bottom: 24px;
}
.auth-card .flex {
  padding: 0 6px;
}
.auth-card .v-btn {
  margin: 0 16px;
  border-radius: 8px;
  text-transform: capitalize;
}
</style>
