<template>
  <v-data-table
    :headers="headers"
    :items="candidates"
    :loading="loading"
    :pagination.sync="pagination"
  >
    <template slot="items" slot-scope="props">
      <tr @click="$emit('viewDetail', props.item)">
        <td class="text-xs-left">{{ props.item.full_name }}</td>
        <td class="text-xs-center">{{ props.item.phone_number }}</td>
        <td class="text-xs-center">{{ props.item.number_of_sessions }}</td>
        <td class="text-xs-center">
          {{ props.item.created_at | sliceToISOYYYMMDD }}
        </td>
        <td class="text-xs-center">
          <v-btn
            flat
            icon
            @click="
              $emit('sendInvitations', props.item);
              $event.stopPropagation();
            "
          >
            <v-tooltip top>
              <v-icon slot="activator">mail_outline</v-icon>
              <span> {{ $t("sendInvitations") }} </span>
            </v-tooltip>
          </v-btn>
          <v-btn
            flat
            icon
            @click="
              $emit('editCandidate', props.item);
              $event.stopPropagation();
            "
          >
            <v-tooltip top>
              <v-icon slot="activator">edit</v-icon>
              <span> {{ $t("editCandidate") }} </span>
            </v-tooltip>
          </v-btn>
          <v-btn
            flat
            icon
            @click="
              $emit('deleteCandidate', props.item);
              $event.stopPropagation();
            "
          >
            <v-tooltip top>
              <v-icon slot="activator">delete</v-icon>
              <span> {{ $t("deleteCandidate") }} </span>
            </v-tooltip>
          </v-btn>
        </td>
      </tr>
    </template>
  </v-data-table>
</template>

<script>
export default {
  name: "CandidateTable",
  props: {
    candidates: Array,
    loading: Boolean
  },
  data: () => ({
    pagination: {
      sortBy: "created_at",
      descending: true
    },
    headers: [
      {
        text: "Full Name",
        value: "full_name",
        sortable: true,
        align: "center"
      },
      {
        text: "Phone Number",
        value: "phone_number",
        sortable: true,
        align: "center"
      },
      {
        text: "Number Of Sessions",
        value: "number_of_sessions",
        sortable: true,
        align: "center"
      },
      {
        text: "Created Date",
        value: "created_at",
        sortable: true,
        align: "center"
      },
      {
        text: "Actions",
        value: "name",
        sortable: false,
        align: "center"
      }
    ]
  })
};
</script>

<style scoped lang="scss"></style>
