<template>
  <v-data-table
    :headers="headers"
    :items="interviews"
    :loading="loading"
    :pagination.sync="pagination"
    item-key="name"
    item-value="name"
  >
    <template slot="items" slot-scope="props">
      <tr @click="$emit('viewDetail', props.item)">
        <td class="text-xs-left">{{ props.item.position }}</td>
        <td class="text-xs-center">
          {{ props.item.duration | secondsToFriendlyTime }}
        </td>
        <td class="text-xs-center">
          {{ props.item.number_of_questions || 0 }}
        </td>
        <td class="text-xs-center">{{ props.item.number_of_sessions || 0 }}</td>
        <td class="text-xs-center">
          {{ props.item.created_at | sliceToISOYYYMMDD }}
        </td>
        <td class="text-xs-center">
          <v-btn
            flat
            icon
            @click="
              $emit('sendInvitations', props.item);
              $event.stopPropagation();
            "
          >
            <v-tooltip top>
              <v-icon slot="activator">mail_outline</v-icon>
              <span> {{ $t("sendInvitations") }} </span>
            </v-tooltip>
          </v-btn>
          <v-btn
            flat
            icon
            @click="
              $emit('editInterview', props.item);
              $event.stopPropagation();
            "
          >
            <v-tooltip top>
              <v-icon slot="activator">edit</v-icon>
              <span> {{ $t("editInterview") }} </span>
            </v-tooltip>
          </v-btn>
          <v-btn
            flat
            icon
            @click="
              $emit('deleteInterview', props.item);
              $event.stopPropagation();
            "
          >
            <v-tooltip top>
              <v-icon slot="activator">delete</v-icon>
              <span> {{ $t("deleteInterview") }} </span>
            </v-tooltip>
          </v-btn>
        </td>
      </tr>
    </template>
  </v-data-table>
</template>

<script>
export default {
  name: "InterviewTable",
  props: {
    loading: Boolean,
    interviews: Array
  },
  data: () => ({
    pagination: {
      sortBy: "created_at",
      descending: true
    },
    headers: [
      { text: "Position", value: "position", sortable: true, align: "center" },
      { text: "Duration", value: "duration", sortable: true, align: "center" },
      {
        text: "Number Of Questions",
        value: "number_of_questions",
        sortable: true,
        align: "center"
      },
      {
        text: "Number Of Sessions",
        value: "number_of_sessions",
        sortable: true,
        align: "center"
      },
      {
        text: "Created Date",
        value: "created_at",
        sortable: true,
        align: "center"
      },
      { text: "Actions", value: "name", sortable: false, align: "center" }
    ]
  })
};
</script>

<style scoped lang="scss"></style>
