<template>
  <div>
    <v-data-table
      :headers="headers"
      :items="questions"
      :loading="loading"
      :pagination.sync="pagination"
      item-key="name"
      item-value="name"
    >
      <template slot="items" slot-scope="props">
        <tr
          @click="
            $refs.previewModal.question = props.item;
            previewModal = true;
          "
        >
          <td class="text-xs-left">
            {{ props.item.title || props.item.question.slice(0, 100) }}
          </td>
          <td class="text-xs-center">
            {{ enums[props.item.type] }}
          </td>
          <td class="text-xs-center">
            {{ props.item.time_limit | secondsToFriendlyTime }}
          </td>
          <td class="text-xs-center">
            {{ props.item.created_at | sliceToISOYYYMMDD }}
          </td>
          <td class="text-xs-center" v-if="!hideActions">
            <v-btn
              flat
              icon
              @click="
                $emit('editQuestion', props.item);
                $event.stopPropagation();
              "
            >
              <v-tooltip top>
                <v-icon slot="activator">edit</v-icon>
                <span> {{ $t("editQuestion") }} </span>
              </v-tooltip>
            </v-btn>
            <v-btn
              flat
              icon
              @click="
                $emit('deleteQuestion', props.item);
                $event.stopPropagation();
              "
            >
              <v-tooltip top>
                <v-icon slot="activator">delete</v-icon>
                <span> {{ $t("deleteQuestion") }} </span>
              </v-tooltip>
            </v-btn>
          </td>
        </tr>
      </template>
    </v-data-table>
    <PreviewQuestionModal
      ref="previewModal"
      v-model="previewModal"
    ></PreviewQuestionModal>
  </div>
</template>

<script>
import PreviewQuestionModal from "@/components/modal/PreviewQuestionModal";
import { questionTypeEnums } from "@/utils/enums";
export default {
  name: "QuestionTable",
  components: { PreviewQuestionModal },
  props: {
    questions: Array,
    loading: Boolean,
    hideActions: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    enums() {
      return questionTypeEnums;
    }
  },
  data: () => ({
    pagination: {
      sortBy: "created_at",
      descending: true
    },
    headers: [
      { text: "Title", value: "title", sortable: true, align: "center" },
      { text: "Type", value: "type", sortable: true, align: "center" },
      {
        text: "Time Limit",
        value: "time_limit",
        sortable: true,
        align: "center"
      },
      {
        text: "Created Date",
        value: "created_at",
        sortable: true,
        align: "center"
      },
      { text: "Actions", value: "name", sortable: false, align: "center" }
    ],
    previewModal: false
  }),
  created() {
    if (this.hideActions) this.headers.pop();
  }
};
</script>

<style scoped lang="scss"></style>
