<template>
  <v-data-table
    :headers="headers"
    :items="sessions"
    :loading="loading"
    :pagination.sync="pagination"
  >
    <template slot="items" slot-scope="props">
      <tr @click="$emit('clickRow', props.item)">
        <td class="text-xs-left">{{ props.item.candidate_full_name }}</td>
        <td class="text-xs-left">{{ props.item.interview_position }}</td>
        <td class="text-xs-center">
          {{ props.item.interview_duration | secondsToFriendlyTime }}
        </td>
        <td class="text-xs-center">
          {{ props.item.interview_number_of_questions }}
        </td>
        <td class="text-xs-center">
          {{ props.item.created_at | sliceToISOYYYMMDD }}
        </td>
      </tr>
    </template>
  </v-data-table>
</template>

<script>
export default {
  name: "SessionTable",
  props: {
    sessions: Array,
    loading: Boolean
  },
  data: () => ({
    pagination: {
      sortBy: "created_at",
      descending: true
    },
    headers: [
      {
        text: "Candidate",
        value: "candidate_full_name",
        sortable: true,
        align: "center"
      },
      {
        text: "Position",
        value: "interview_position",
        sortable: true,
        align: "center"
      },
      {
        text: "Duration",
        value: "interview_duration",
        sortable: true,
        align: "center"
      },
      {
        text: "Number Of Questions",
        value: "interview_number_of_questions",
        sortable: true,
        align: "center"
      },
      {
        text: "Created Date",
        value: "created_at",
        sortable: true,
        align: "center"
      }
    ]
  })
};
</script>

<style scoped lang="scss"></style>
