<template>
  <v-data-table
    :headers="headers"
    :items="sessions"
    :loading="loading"
    item-key="name"
    item-value="name"
  >
    <template slot="items" slot-scope="props">
      <tr @click="$emit('clickRow', props.item)">
        <td v-if="!isInCandidatePage">
          {{
            props.item.candidate_first_name +
              ", " +
              props.item.candidate_last_name
          }}
        </td>
        <td v-if="isInCandidatePage">{{ props.item.interview_position }}</td>
        <td class="text-xs-center">{{ props.item.status | properCase }}</td>
        <td>{{ props.item.time_spent | secondsToFriendlyTime }}</td>
        <td class="text-xs-center">
          {{ props.item.created_at | sliceToISOYYYMMDD }}
        </td>
        <td class="text-xs-center">
          {{ props.item.started_at | sliceToISOYYYMMDD }}
        </td>
        <td class="text-xs-center">
          {{ props.item.completed_at | sliceToISOYYYMMDD }}
        </td>
      </tr>
    </template>
  </v-data-table>
</template>

<script>
export default {
  name: "SessionTable",
  props: {
    loading: Boolean,
    sessions: Array,
    isInCandidatePage: Boolean
  },
  data() {
    return {
      headers: [
        { text: "Status", value: "status", sortable: true, align: "center" },
        {
          text: "Time Spent",
          value: "time_spent",
          sortable: true,
          align: "center"
        },
        {
          text: "Created Date",
          value: "created_at",
          sortable: true,
          align: "center"
        },
        {
          text: "Started Date",
          value: "started_at",
          sortable: true,
          align: "center"
        },
        {
          text: "Completed Date",
          value: "completed_at",
          sortable: true,
          align: "center"
        }
      ]
    };
  },
  mounted() {
    this.headers.unshift({
      text: this.isInCandidatePage ? "Position" : "Candidate",
      value: this.isInCandidatePage
        ? "interview_position"
        : "candidate_first_name",
      sortable: true,
      align: "center"
    });
  }
};
</script>

<style scoped lang="scss"></style>
