<template>
  <v-app id="wrap" light>
    <router-view />
    <Snackbar></Snackbar>
  </v-app>
</template>
<script>
import Snackbar from "@/components/ui/Snackbar";

export default {
  components: {
    Snackbar
  }
};
</script>
<style lang="scss"></style>
