<template>
  <v-footer height="auto" class="indigo white--text">
    <v-container>
      &copy; 2019 <strong>KNOWRU LIMITED</strong>
      <br />
      <br />
      <LanguageSwitcher></LanguageSwitcher>
    </v-container>
  </v-footer>
</template>

<script>
import LanguageSwitcher from "@/components/LanguageSwitcher";
export default {
  name: "Footer",
  components: { LanguageSwitcher },
  data() {
    return {
      languages: [
        {
          label: "한국어",
          value: "ko"
        },
        {
          label: "中文",
          value: "cn"
        },
        {
          label: "English",
          value: "en"
        }
      ]
    };
  },
  methods: {
    changeLanguage(lang) {
      this.$router.push("/" + lang);
      window.location.reload();
    }
  }
};
</script>

<style scoped lang="scss"></style>
