<template>
  <v-snackbar
    v-if="snackbar"
    v-model="snackbar.value"
    :timeout="snackbar.timeout"
    :color="snackbar.color"
    bottom
  >
    <v-progress-circular
      v-if="snackbar.loading"
      indeterminate
      :size="50"
      color="primary"
    ></v-progress-circular>
    <div style="white-space: pre;">{{ snackbar.text }}</div>
    <v-btn color="white" flat @click="snackbar.value = false">
      Close
    </v-btn>
  </v-snackbar>
</template>

<script>
export default {
  name: "Snackbar",
  computed: {
    snackbar() {
      return this.$store.state.snackbar;
    }
  }
};
</script>

<style scoped lang="scss"></style>
